<%# if advertiser_current_user %>
  <section>
    <footer>
      <div class="row">
        <div class="large-6 columns">
        </div>
        <div id="builtby" class="large-6 columns">
        </div>
      </div>
    </footer>
  </section>
<%# end %>
<script>
  $(document).foundation();
</script>
