html, body {
  margin: 0;
  padding: 0px;
  min-height: 100%;
  position: relative;
}

/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 20px;
}

span.subheadline{
  position: relative;
   bottom: 24px;
   color: #666;

}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* DT, DD fix so show pages without data are displayed right */
dt, dd {
  line-height: 20px;
  /* Keep this the same as line-height */
  min-height: 20px;
 }

table{
  width: 100%;
}

/* sign in */
.sign_in, .sign-in {
  width: 350px;
  margin: 0 auto;
}

.content ul li, .content ol li {
  margin-left: 20px;
}

nav .title-area a {
  color: #fff;
  font-weight: bold;
  line-height: 45px;
  padding: 0 1em;
}

#login, #registration_new, #registration_show {
  background: whiteSmoke;
  border: 1px solid #E5E5E5;
  padding: 20px 25px;
}

.sign-in .form-group {
  display: block;
  width: 300px;
}

.sign-in h3 {
  line-height: 20px;
}

#new-registration-button {
  width: 300px;
}

/* Sections */
#masthead { }

#flash-message { 
  margin: 10px 0px;
}
