<header>
  <div class="logo"><%= APPLICATION_NAME %></div>
  <div class="existing-user">
    <%= link_to 'Sign In', login_path, class: 'button' %>
    <%= link_to 'Sign Up', 'http://membersignup.automationhero.com', class: 'button' %>
  </div>
</header>
